.contenedor-principal {
  width: 1903px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(20,1fr);
  grid-column-gap: 20px;
}

.logo{
  width: 100%;
  height: 70px;
}

.cabecera{
  grid-column: 3 / 6;
  display: flex;
  align-items: center;
}

.navegacion{
  grid-column: 7/12;
  display: inline-block;
  text-align: center;
}


.lista{
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}

.enlace{
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

.menu{
  display: grid;
  width: 1903px;
  height: 588px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(6,1fr);
  grid-column-gap: 20px;
  grid-column: 1/13;
  grid-row: 2/8;
  background-color: #fff;
}

.box-menu{
  grid-column: 1/13;
  grid-row: 1/5;
  background-color: #495E57;
}

.texto1{
  grid-column: 3/6;
  grid-row: 1/2;
  color: #F4CE14;
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  position: relative;
  top: 13px;
}

.texto2{
  grid-column: 3/5;
  grid-row: 2/3;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 0px;
}

.texto3{
  grid-column: 3/5;
  grid-row: 2/4;
  color: #fff;
  font-size: 23px;
  position: relative;
  top: 40px;
}

.btn-reserve{
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.box-btn-reserve{
  background-color: #F4CE14;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 40px;
  position: relative;
  left: 9px;
}

.box-btn-reserve:hover{
  cursor: pointer;
}

.imgMenu{
  grid-column: 8/11;
  grid-row: 2/8;
  display: flex;
  justify-content: end;
}
.img-box{
  width: 400px;
  height: 100%;
  border-radius: 20px;
  position: relative;
  top: -60px;
}

